<div class="container">

  <div class="card">
    <div class="card-header bg-primary ">
      <div class="card-title text-light">Add Category</div>
    </div>
    <div class="card-body">
      <div class="col-md-6">
        <form method="post" class="list-group-horizontal-sm" action="">
          <div class="form-group">
            <label for="Category" class="control-label">Category</label>
            <input type="text" class="form-control input-sm" name="Category"/>
          </div>
          <div class="form-group">
            <div class="float-right">
              <input type="submit" class="btn btn-success btn-sm"/>
              <input type="reset" class="btn btn-warning btn-sm"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
