<div class="container">

  <div class="card">
    <div class="card-header bg-primary ">
      <div class="card-title text-light">C Wise</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>SlNo.</th>
              <th>C-ID</th>
              <th>Description</th>
              <th>Eng</th>
              <th>pull</th>
              <th>E-Comments</th>
              <th>Option</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of cdets; let i = index; let odd = odd">
              <td>{{i + 1}}</td>
              <td>{{c.cid}}</td>
              <td>{{c.description}}</td>
              <td>{{c.eng}}</td>
              <td>{{c.pull_link}}</td>
              <td>NA</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
