<div class="container">

  <div class="card">
    <div class="card-header bg-primary ">
      <div class="card-title text-light">Add F</div>
    </div>
    <div class="card-body">
      <div class="col-md-6">
        <form method="post" #form="ngForm" (ngSubmit)="onSubmitFForm(form)" class="list-group-horizontal-sm"
              action="">
          <div class="form-group">
            <label for="wcate" class="control-label">Category</label>
            <select name="wcate" id="wcate" #wcate="ngModel" [(ngModel)]="addfService.add_fformData.wcate"
                    class="form-control input-sm">
              <option value="">-Select-</option>
              <option *ngFor="let c of categorys" value="{{c.wcateId}}">{{c.wcate}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" #f_id="ngModel" [(ngModel)]="addfService.add_fformData.f_id" name="f_id"
                   class="form-control">
          </div>
          <div class="form-group">
            <label for="Description">Description</label>
            <textarea name="description" id="description" #description="ngModel"
                      [(ngModel)]="addfService.add_fformData.description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="engs">Eng</label>
            <input type="text" name="eng" id="engs" [(ngModel)]="addfService.add_fformData.eng" #eng="ngModel"
                   class="form-control">
          </div>
          <div class="form-group">
            <label for="no_of_commit">No of Commits.</label>
            <input type="number" min="1" max="150" name="no_of_commits" class="form-control">
          </div>
          <div class="form-group">
            <label for="pull_link">Pull Links</label>
            <input type="text" name="pull_link"  id="pull_link" #pull_links="ngModel" [(ngModel)]="addfService.add_fformData.pull_links" class="form-control">
          </div>

          <div class="form-group">
            <label for="e_comments">E Comments</label>
            <div class="input-group">
              <textarea name="e_comments" class="form-control"></textarea>
              <div class="input-group-append ">
                <div class="input-group-text">
                  +
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="float-right">
              <input type="submit" class="btn btn-success btn-sm"/>
              <input type="reset" class="btn btn-warning btn-sm"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
