<div class="container">

  <div class="card">
    <div class="card-header bg-primary ">
      <div class="card-title text-light">J Wise</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>SlNo.</th>
              <th>J-ID</th>
              <th>Description</th>
              <th>Eng</th>
              <th>IsConverted</th>
              <th>E-Comments</th>
              <th>More</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let j of jiras; let i=index;">
              <td>{{i+1}}</td>
              <td>{{j.jid}}</td>
              <td>{{j.description}}</td>
              <td>{{j.eng}}</td>
              <td>{{j.j_is_converted}}</td>
              <td>NA</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
