<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Work Reports</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="activeTab==='' || activeTab==='/#'">
        <a class="nav-link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" [class.active]="activeTab==='category'">
        <a class="nav-link dropdown-toggle" id="navbarDropdown_category" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_category">
          <a class="dropdown-item" (click)="getActiveTab('category')" routerLink="/category" href="#">Add Category</a>
          <!--<a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_work" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Work E
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_work">
          <a class="dropdown-item" routerLink="/add_j">Add J</a>
          <a class="dropdown-item" routerLink="/add_c">Add C</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/add_f">Add F</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_report" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Work R
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown_report">
          <a class="dropdown-item" routerLink="/j_wise" >J Wise</a>
          <a class="dropdown-item" routerLink="/c_wise" >C Wise</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/f_wise" >F Wise</a>
          <a class="dropdown-item" routerLink="/e_wise" >E Wise</a>
        </div>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>
</nav>
