<div class="col-md-12">
  <form action="">

    <div class="col-md-12">
      <label for="Category">Category</label>
      <input type="text" name="Category" class="form-control">
    </div>
    <div class="col-md-12">
      <label for="ID">ID</label>
      <input type="text" name="ID" class="form-control">
    </div>
    <div class="col-md-12">
      <label for="Description">Description</label>
      <input type="text" name="Description" class="form-control">
    </div>
    <div class="col-md-12">
      <label for="Eng">Eng</label>
      <input type="text" name="Eng" class="form-control">
    </div>
    <div class="col-md-12">
      <label for="Code Commit">Code Commit Eng.</label>
      <input type="text" name="code_commit_eng" class="form-control">
    </div>
    <div class="col-md-12">
      <label for="pull">Pull</label>
      <input type="text" name="pull" class="form-control">
    </div>


  </form>
</div>
