<div class="container">

  <div class="card">
    <div class="card-header bg-primary ">
      <div class="card-title text-light">Add J</div>
    </div>
    <div class="card-body">
      <div class="col-md-6">
        <form method="post" autocomplete="off" #form="ngForm" (ngSubmit)="onSubmitJForm(form)" class="list-group-horizontal-sm" action="">
          <div class="form-group">
            <label for="wcate" class="control-label">Category</label>
            <input type="hidden" name="jformid"  #jformid="ngModel" [(ngModel)]="addjService.add_jformData.jformid">
            <select name="wcate" id="wcate" #wcate="ngModel" [(ngModel)]="addjService.add_jformData.wcate"
                    class="form-control input-sm">
              <option value="">-Select-</option>
              <option *ngFor="let c of categorys" value="{{c.wcateId}}">{{c.wcate}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="jid">ID</label>
            <input type="text" name="jid" id="jid" #jid="ngModel" [(ngModel)]="addjService.add_jformData.jid" class="form-control">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" #description="ngModel" [(ngModel)]="addjService.add_jformData.description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="eng">Eng</label>
            <input type="text" name="eng" id="eng" #eng="ngModel" [(ngModel)]="addjService.add_jformData.eng" class="form-control">
          </div>
          <div class="form-group">
            <label for="isConverted">Is Converted into C.</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" #j_is_converted="ngModel" [(ngModel)]="addjService.add_jformData.j_is_converted" name="j_is_converted" type="radio" value="yes" id="isConverted_yes">
                <label class="form-check-label" for="isConverted_yes">
                  Yes
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" #j_is_converted="ngModel" [(ngModel)]="addjService.add_jformData.j_is_converted" name="j_is_converted" type="radio" value="no" id="isConverted_no">
                <label class="form-check-label" for="isConverted_no">
                  No
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="c_id">C ID</label>
            <input type="text" name="c_id" id="c_id" #c_id="ngModel" [(ngModel)]="addjService.add_jformData.c_id" class="form-control">
          </div>
          <div class="form-group">
            <label for="e_comments">E Comments</label>
            <div class="input-group">
              <textarea name="e_comments" class="form-control"></textarea>
              <div class="input-group-append ">
                <div class="input-group-text">
                  +
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="float-right">
              <input type="submit" class="btn btn-success btn-sm"/>
              <input type="reset" class="btn btn-warning btn-sm"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
