<div class="container">

  <div class="card">
    <div class="card-header bg-primary ">
      <div class="card-title text-light">E Wise</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>SlNo.</th>
              <th>J/C-ID</th>
              <th>Description</th>
              <th>Eng</th>
              <th>IsConverted</th>
              <th>E-Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
